{% load i18n %}
<p>Payment details:</p>
<table class="table table-bordered">
    <tr>
        <th>{% trans "Account holder" %}</th>
        <td>Aether</td>
    </tr>
    <tr>
        <th>{% trans "Amount" %}</th>
        <td>€{{ object.price }}</td>
    </tr>
    <tr>
        <th>{% trans "Account nr" %}</th>
        <td>{{ account_nr }}</td>
    </tr>
    <tr>
        <th>{% trans "Comment" %}</th>
        <td>reservation-{{ object.pk }}</td>
    </tr>
</table>
<p>{% blocktrans %}Be sure to include the comment!{% endblocktrans %}</p>
<p>{% blocktrans %}You will receive confirmation when the payment has been received.{% endblocktrans %}</p>
