{% extends "wersite/base.html" %}
{% load i18n staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>{% trans "Cheap Boosters" %}</h1>
        <h2>{% trans "Products" %}</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="{% url 'wersite-cbi-reservation' booster_amount=12 %}"><img class="center-block" src="{% static "img/fate-reforged-12.jpg" %}"/></a>
                    <p class="text-center"><a href="{% url 'wersite-cbi-reservation' booster_amount=12 %}" class="btn btn-info btn-lg">€24 <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
                </div>
                <div class="col-sm-4">
                    <a href="{% url 'wersite-cbi-reservation' booster_amount=24 %}"><img class="center-block" src="{% static "img/fate-reforged-24.jpg" %}"/></a>
                    <p class="text-center"><a href="{% url 'wersite-cbi-reservation' booster_amount=24 %}" class="btn btn-info btn-lg">€44 <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
                </div>
                <div class="col-sm-4">
                    <a href="{% url 'wersite-cbi-reservation' booster_amount=36 %}"><img class="center-block" src="{% static "img/fate-reforged-36.jpg" %}"/></a>
                    <p class="text-center"><a href="{% url 'wersite-cbi-reservation' booster_amount=36 %}" class="btn btn-info btn-lg">€60 <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
                </div>
            </div>
{#            <div class="row">#}
{#                <div class="col-lg-12 text-center">#}
{#                    <br/><button class="btn btn-lg btn-primary">View all products</button>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
    <div class="row">
        <h2>{% blocktrans %}How are these boosters so cheap?{% endblocktrans %}</h2>
        <p>{% blocktrans %}We are a small Magic club, a group of friends, and we organize weekly drafts for 4 years now. We are not
        in the business of selling cards or boosters so profit isn't our motivator, playing Magic is. We draft but we
        don't like to own the cards which we open at those drafts. So we sell the contents of those boosters. But we
        don't sell them individually on magiccardmarket, that's too much of a hassle. We sell them in bulk. And that's
        why they are so inexpensive. <strong>We want to get rid of these cards!</strong>{% endblocktrans %}</p>
        <p>{% blocktrans %}Now you might be thinking: what's the catch? So without further delay, here it is:{% endblocktrans %}
            <ul>
                <li>{% blocktrans %}The boosters are <strong>opened</strong>.{% endblocktrans %}</li>
                <li>{% blocktrans %}The cards have been <strong>played</strong> with once in sleeves.{% endblocktrans %}</li>
                <li>{% blocktrans %}The cards are <strong>unsorted</strong>. We have created decks with them.{% endblocktrans %}</li>
                <li>{% blocktrans %}<strong>Shipping is not instantaneous</strong>. You will have to wait until we actually played with
                your boosters.{% endblocktrans %}</li>
                <li>{% blocktrans %}You <strong>cannot choose the type</strong> of boosters. You get a mix of the currently drafted
                boosters. At the moment this is FRF-KTK-KTK.{% endblocktrans %}</li>
            </ul>
        </p>
        <p>{% blocktrans %}With these disadvantages the good news must be very good:{% endblocktrans %}
            <ul>
                <li>{% blocktrans %}These boosters are <strong>super cheap</strong>. Prices rapidly drop to €2/booster when ordering
                multiple boosters to an absolute low of €1.67/booster for an entire booster box.{% endblocktrans %}</li>
                <li>{% blocktrans %}All prices <strong>include shipping</strong> to Belgium. No surprises, you pay the price you see.{% endblocktrans %}</li>
                <li>{% blocktrans %}A 100% guarantee from Aetherclub that you actually get what was inside the boosters. We opened a
                foil worth €60+, you get it.{% endblocktrans %}</li>
                <li>{% blocktrans %}A best effort to only allow purchases when we think we can fulfill them within a month. No promises
                though.{% endblocktrans %}</li>
                <li>{% blocktrans %}Easy payment with bank transfer or PayPal.{% endblocktrans %}</li>
            </ul>
        </p>
        <p>{% blocktrans %}So if you're the kind of player that's interested in random cheap cards: we can help you.{% endblocktrans %}</p>
        <p>&nbsp;</p>
    </div>
</div>
{% endblock %}
