{% extends "wersite/base.html" %}
{% load i18n staticfiles %}

{% block title %}Aetherclub - {% trans "Cheap boosters" %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{% trans "Purchase details" %}</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="alert alert-danger" role="alert">{% blocktrans %}Due to high demand, the estimated waiting time is more than 2 months{% endblocktrans %}</div>
                        <table class="table table-bordered">
                            <tr>
                                <th>{% trans "Description" %}</th>
                                <td>{{ object.description }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Estimated waiting time" %}</th>
                                <td>{{ object.estimated_shipping_date }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Price" %}</th>
                                <td>€{{ object.price }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Shipping address" %}</th>
                                <td>{{ object.name }}<br/>{{ object.address1 }}{% if object.address2 %}<br/>{{ object.address2 }}{% endif %}<br/>{{ object.postal_code }} {{ object.city }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Email" %}</th>
                                <td>{{ object.email }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Payment method" %}</th>
                                <td>{{ object.readable_payment_method }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <img class="center-block" src="{% static object.image_url %}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>{% trans "Read carefully" %}</h2>
            <p>1. {% blocktrans %}You will receive the content of boosters that have been used in tournaments organized by Aethermagic.{% endblocktrans %}</p>
            <p>2. {% blocktrans %}Boosters are in the following condition:{% endblocktrans %}
                <ul>
                    <li>{% trans "Opened" %}</li>
                    <li>{% trans "Unsorted" %}</li>
                    <li>{% trans "Played with (in sleeves)" %}</li>
                </ul>
            </p>
            <p>3. {% blocktrans %}The shipping date is an estimation, boosters are sent as soon as they have been played with.{% endblocktrans %}</p>
            <p>4. {% blocktrans %}The cards in boosters are random, so the value you receive from your purchase is of course also random. We only guarantee that you will receive the entire content of your purchased boosters.{% endblocktrans %}</p>
            <p>5. {% blocktrans %}As soon as the boosters have been opened, refunds are no longer possible.{% endblocktrans %}</p>
            <p>6. {% blocktrans %}Shipping is only possible to Belgium.{% endblocktrans %}</p>
            <form class="form" action="{% url 'wersite-cbi-reservation-confirm' pk=object.pk %}" method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors }}</div>{% endif %}
                <div class="checkbox">
                    {% if form.accept_terms.errors %}<div class="alert alert-danger">{{ form.accept_terms.errors }}</div>{% endif %}
                    <label>
                        {{ form.accept_terms }} <strong>{% blocktrans %}I understand and agree with these terms and conditions{% endblocktrans %}</strong>
                    </label>
                </div>
                <p>
                    <br/><button type="submit" class="btn btn-primary">{% trans "Confirm purchase" %}</button>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
