{% extends "wersite/base.html" %}
{% load i18n staticfiles %}

{% block title %}Aetherclub - {% trans "Cheap boosters" %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
        {% if object.state == 'paid' %}
            <h2>{% trans "Payment completed" %}</h2>
            <p>{% blocktrans with object_description=object.description %}Your payment for {{ object_description }} has
            been received. We will notify you when your boosters are available and ready for shipment.{% endblocktrans %}</p>
        {% else %}
            <h2>Error</h2>
            <p>Something went wrong.</p>
            <p><a href="">Back to home</a></p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
