{% extends "wersite/base.html" %}
{% load i18n staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
        {% if object.state == 'new' %}
            <h2>Error</h2>
            <p>You have to accept the terms and conditions! <a href="{% url 'wersite-cbi-reservation-confirm' pk=object.pk %}">Back to payment overview</a></p>
        {% elif object.state == 'confirmed' %}
            <h2>Payment details</h2>
            <p>Thank you for your purchase! You have chosen to pay the total cost of <strong>€{{ object.price }}</strong>
                via <strong>{{ object.readable_payment_method }}</strong>.</p>
            {% if object.payment_method == 'bank_transfer' %}
                {% include "wersite/cbi/_payment_bank_transfer.html" %}
            {% elif object.payment_method == 'paypal' %}
                {% include "wersite/cbi/_payment_paypal.html" %}
            {% endif %}
        {% else %}
            <h2>Payment completed</h2>
            <p>Payment for this purchase has been completed already.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
