packages:
  yum:
    postgresql-devel: []

commands:
    01_install_npm:
        test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
        command: 'yum install -y npm --enablerepo=epel; npm install -g npm'
        cwd: '/tmp'
    02_install_grunt:
        test: '[ ! -f /usr/bin/grunt ] && echo "grunt not installed"'
        command: npm install -g grunt-cli
        cwd: '/'

container_commands:
    01_migrate:
        command: "python manage.py migrate --noinput"
        leader_only: true
    02_install_npm_local:
        command: "npm install"
    03_grunt:
        command: "grunt"
    04_collectstatic:
        command: "python manage.py collectstatic --noinput"

option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: werwer/wsgi.py
    - option_name: DJANGO_SETTINGS_MODULE
      value: werwer.settings
