packages:
  yum:
    postgresql-devel: []

container_commands:
    01_migrate:
        command: "python manage.py migrate --noinput"
        leader_only: true

option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: werwer/wsgi.py
    - option_name: DJANGO_SETTINGS_MODULE
      value: werwer.settings
