{% extends 'wersite/base.html' %}
{% load i18n staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans "Email verification completed" %}</h1>
            <p>{% blocktrans %}Your email <strong>{{ email }}</strong> has been verified. You will receive your login credentials when we have
            processed your registration request.{% endblocktrans %}</p>
            <p><a href="{% url 'wersite-root' %}">&larr; {% trans "Home page" %}</a></p>
        </div>
    </div>
</div>
{% endblock %}
