{% extends 'wersite/base.html' %}
{% load i18n staticfiles %}

{% block head_extra %}
<script>
    $( document ).ready(function() {
        $('#moreInfoModal').on('show.bs.modal', function (e) {
            var showContent = e.relatedTarget.dataset.content;
            $('#' + showContent).show();
        });

        $('#moreInfoModal').on('hidden.bs.modal', function (e) {
            $('#moreInfoModal div div .modal-body').children().hide();
        });
        {% if form.errors %}
        $('#futureFeatureModal').modal('show');
        {% endif %}

    });
</script>
<script type="text/javascript" src="/static/analytics-events.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans "Aether club" %}</h1>
            <p>{% blocktrans %}Welcome to the aether club website. We are a boardgaming and <em>Magic: The Gathering</em> playing group in
                Belgium. We organize weekly playing sessions and several times a year a larger event. You can
                find more information about us and our events at our facebook group:
                <a href="https://www.facebook.com/groups/aether.club/">on Facebook</a>.{% endblocktrans %}</p>
            <p>{% blocktrans %}This website also hosts the werwer application, an alternative scheduling tool for <em>Magic: The Gathering</em> events.{% endblocktrans %}</p>
            <h2>{% trans "WerWer" %}</h2>
            <p>{% blocktrans %}Werwer is an alternative scheduling tool for <em>Magic: The Gathering</em> events and aims to replace or
                enhance the official <em>Wizards Event Reporter</em>.{% endblocktrans %}</p>
            <p>{% blocktrans %}Werwer is very specifically targeted to small, unsanctioned events and we use it at our local
                club to organise and run events. The technical nature of Werwer makes it possible to do things
                that are (almost) impossible to do with the official <em>Wizards Event Reporter</em>.{% endblocktrans %}</p>
            <p>{% trans "Unique features" %}:
                <ul>
                    <li>{% blocktrans %}Run events on all devices with an internet connection: laptop, tablet and yes, even smartphone.{% endblocktrans %} <a class="small moreInfoEvent" data-toggle="modal" data-target="#moreInfoModal" data-content="moreInfoContentAllDevices" data-event-value="All Devices" href="#">{% trans "More info" %}</a></li>
                    <li>{% blocktrans %}No installation required. The app is cloud hosted and all updates happen automatically.{% endblocktrans %} <a class="small moreInfoEvent" data-toggle="modal" data-target="#moreInfoModal" data-content="moreInfoContentCloud" data-event-value="Cloud" href="#">{% trans "More info" %}</a></li>
                    <li>
                        {% blocktrans %}Involve players before, during and after events:{% endblocktrans %}
                        <ul>
                            <li><strong>{% trans "Before" %}:</strong> {% blocktrans %}previous participants of your events are alerted when you schedule a new event.{% endblocktrans %} <a class="small moreInfoEvent" data-toggle="modal" data-target="#futureFeatureModal" data-event-value="New Event Promo" href="#">{% trans "More info" %}</a></li>
                            <li><strong>{% trans "Before" %}:</strong> {% blocktrans %}players can register for your event and are automatically enrolled.{% endblocktrans %} <a class="small moreInfoEvent" data-toggle="modal" data-target="#futureFeatureModal" data-event-value="User Pre Registration" href="#">{% trans "More info" %}</a></li>
                            <li><strong>{% trans "Before" %}:</strong> {% blocktrans %}reminders are sent to enrolled participants the day before the event starts.{% endblocktrans %} <a class="small moreInfoEvent" data-toggle="modal" data-target="#futureFeatureModal" data-event-value="Event Reminders" href="#">{% trans "More info" %}</a></li>
                            <li><strong>{% trans "During" %}:</strong> {% blocktrans %}seatings are automatically announced on participant smartphones.{% endblocktrans %} <a class="small moreInfoEvent" data-toggle="modal" data-target="#futureFeatureModal" data-event-value="Seatings Anounced" href="#">{% trans "More info" %}</a></li>
                            <li><strong>{% trans "During" %}:</strong> {% blocktrans %}participants can enter their own results. If both players do this you don't even need to confirm them. Events run themselves.{% endblocktrans %} <a class="small moreInfoEvent" data-toggle="modal" data-target="#futureFeatureModal" data-event-value="Participant Result Entry" href="#">{% trans "More info" %}</a></li>
                            <li><strong>{% trans "After" %}:</strong> {% blocktrans %}players can review past events and see how well they played.{% endblocktrans %} <a class="small moreInfoEvent" data-toggle="modal" data-target="#futureFeatureModal" data-event-value="Participants Event Review" href="#">{% trans "More info" %}</a></li>
                            <li><strong>{% trans "After" %}:</strong> {% blocktrans %}a mail is sent to participants with statistics about their performance in the event.{% endblocktrans %} <a class="small moreInfoEvent" data-toggle="modal" data-target="#moreInfoModal" data-content="moreInfoContentStatistics" data-event-value="Mail Statistics" href="#">{% trans "More info" %}</a></li>
                        </ul>
                    </li>
                </ul>
            </p>
            <p>{% blocktrans %}If you think: <em>That sounds cool, I want to try that!</em> Don't worry, you can. Free of charge.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center"><a href="{% url 'wersite-signup' %}" class="btn btn-lg btn-primary">{% trans "Try Werwer" %}</a></p>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="futureFeatureModal" tabindex="-1" role="dialog" aria-labelledby="futureFeatureModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" action="{% url 'wersite-root' %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
                    <h4 class="modal-title" id="futureFeatureModalTitle">{% blocktrans %}Thank you for your interest in Werwer!{% endblocktrans %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% blocktrans %}The feature you requested is however not yet included in Werwer. I am but a sole developer
                        and my time is limited. But you can help me by filling in this form so I know which features
                        are most wanted. Thanks again for your help!{% endblocktrans %}</p>
                    {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors }}</div>{% endif %}
                    <div class="form-group{%if form.most_wanted.errors %} has-error{%endif%}">
                        <label>{% blocktrans %}Which feature do you want most?{% endblocktrans %}</label>
                        {% if form.most_wanted.errors %}<div class="alert alert-danger">{{ form.most_wanted.errors }}</div>{% endif %}
                        {% for radio in form.most_wanted %}
                        <div class="radio">
                            {{ radio }}
                        </div>
                        {% endfor %}
                        <div class="radio disabled">
                            <label>
                                <input type="radio" name="most_wanted" id="most_wanted7" value="option7" disabled>
                                {% blocktrans %}Mail participants with statistics about their performance in the event (already implemented){% endblocktrans %}
                            </label>
                        </div>
                    </div>
                    <div class="form-group{%if form.name.errors %} has-error{%endif%}">
                        <label for="id_name">{% trans "Name" %} ({% trans "optional" %})</label>
                        {% if form.name.errors %}<div class="alert alert-danger">{{ form.name.errors }}</div>{% endif %}
                        {{ form.name }}
                    </div>
                    <div class="form-group{%if form.email.errors %} has-error{%endif%}">
                        <label for="id_email">{% blocktrans %}Enter your email address if you want to be notified about this feature{% endblocktrans %} ({% trans "optional" %})</label>
                        {% if form.email.errors %}<div class="alert alert-danger">{{ form.email.errors }}</div>{% endif %}
                        {{ form.email }}
                    </div>
                    <div class="checkbox">
                        {{ form.allow_werwer_email.errors }}
                        <label>
                            {{ form.allow_werwer_email }} {% blocktrans %}Notify me about important Werwer news{% endblocktrans %}
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    <button type="submit" class="btn btn-primary btn-submit">{% trans "Send feedback" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
    <!-- Modal -->
<div class="modal fade" id="moreInfoModal" tabindex="-1" role="dialog" aria-labelledby="moreInfoModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" action="/" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
                    <h4 class="modal-title" id="moreInfoModalTitle">{% trans "More info" %}</h4>
                </div>
                <div class="modal-body">
                    <div id="moreInfoContentAllDevices" class="collapse">
                        <p>{% blocktrans %}Werwer is an interactive, responsive web app. This means that it runs on any device
                            with internet access and a fairly modern browser. This includes laptops, tablets and
                            smartphones with any operating system. Werwer is basically just a website. A very
                            sophisticated website.{% endblocktrans %}</p>
                        <p>{% blocktrans %}If you are interested in the technical details{% endblocktrans %}:
                            <ul>
                                <li>Angularjs + JQuery</li>
                                <li>Twitter bootstrap</li>
                                <li>Python + Django</li>
                                <li>Django REST Framework</li>
                                <li>Amazon Web Services</li>
                            </ul>
                        </p>
                    </div>
                    <div id="moreInfoContentCloud" class="collapse">
                        <p>{% blocktrans %}Because Werwer is a web app hosted in the cloud you don't have to do anything to
                            install it. The only thing you need to do is create an account and start using it.
                            You don't need to download or install anything. And that means of course that you
                            won't have to update it. Werwer does all of that automatically.{% endblocktrans %}</p>
                    </div>
                    <div id="moreInfoContentStatistics" class="collapse">
                        <p>{% blocktrans %}One feature which our users find very useful is the possibility to receive
                            a summary about how they played in an event. When the event is done, you can
                            quickly send them an email with the matches they played, the opponents they played
                            against and the results of those matches. It also includes things like standings
                            and the price support they earned. Make them remember your events!{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
