{% extends 'wersite/player/base-player.html' %}
{% load i18n staticfiles %}

{% block credits_active %}active{% endblock %}

{% block content_player %}
    <h1>Credits <span class="label label-success">{{ credits }}</span></h1>
    {% for transaction in transactions %}
        {% if forloop.first %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans "Description" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Amount" %}</th>
                </tr>
            </thead>
            <tbody>
        {% endif %}
                <tr>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.completed_on }}</td>
            <td><span class="label {% if transaction.amount < 0 %}label-danger{% else %}label-success{% endif %}">{{ transaction.amount }}</span></td>
        </tr>
        {% if forloop.last %}
            </tbody>
        </table>
        {% endif %}
    {% empty %}
        <p>{% blocktrans %}No transactions found.{% endblocktrans %}</p>
    {% endfor %}
{% endblock %}
