{% extends 'wersite/player/base-player.html' %}
{% load i18n staticfiles %}

{% block events_active %}active{% endblock %}

{% block content_player %}
    <h1>{% trans "Events you played in" %}</h1>
    {% for participation in participations %}
        {% if forloop.first %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Points" %}</th>
                    <th>{% trans "Credits received" %}</th>
                </tr>
            </thead>
            <tbody>
        {% endif %}
        <tr>
            <td>{{ participation.event_name }}</td>
            <td>{{ participation.event_date }}</td>
            <td>{{ participation.event_state }}</td>
            <td>{{ participation.points }}</td>
            <td>{{ participation.price_support }}</td>
        </tr>
        {% if forloop.last %}
            </tbody>
        </table>
        {% endif %}
    {% empty %}
        <p>{% blocktrans %}Looks like you haven't played in any event yet.{% endblocktrans %}</p>
    {% endfor %}
{% endblock %}
