<div class="container-fluid" ng-show="event">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1">{% verbatim %}{{ event.name }}{% endverbatim %}</h1>
        </div>
    </div>
    <div class="row" ng-show="event">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li ng-class="{active: page.menuName == 'overview'}"><a ng-href="/event/{% verbatim %}{{ event.id }}{% endverbatim %}/">Overview</a></li>
                <li class="dropdown" ng-class="{active: page.menuName == 'phases'}">
                    <a href="" class="dropdown-toggle">Phases<span ng-show="page.menuName == 'phases'"> ({% verbatim %}{{ event.eventState.getPhase(page.phaseMenuName).displayName }}{% endverbatim %})</span> </span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="{active: phase.name == page.phaseMenuName, disabled: phase.disabled}" ng-repeat="phase in event.eventState.phases">
                            <a ng-href="/event/{% verbatim %}{{ event.id }}/{{ phase.name }}{% endverbatim %}/">
                                {% verbatim %}{{ phase.displayName }} <span class="glyphicon glyphicon-ok" ng-show="phase.completed"></span>{% endverbatim %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a href="/">Standings</a></li>
            </ul>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</div>

