{% extends "partials/event-base.html" %}

{% block content %}
{% verbatim %}
<div ng-show="false">
    {{ page.menuName = 'phases' }}
    {{ page.phaseMenuName = 'rounds' }}
</div>
<div class="container-fluid">
    <div class="row">
        <p>
            <div class="col-md-12">
                <h2>Round {{ round.roundNr }}</h2>
            </div>
            <div class="col-md-12">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="createMatchesRandom()">Create matches</button>
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="createMatchesRandom()">Random</a></li>
                        <li><a href="">Manual</a></li>
                    </ul>
                </div>
            </div>
        <div class="col-md-12">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Player 1</th>
                        <th>Player 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="match in round.match_set">
                        <td>{{ match.participant_set[0].player.first_name }}</td>
                        <td>{{ match.participant_set[1].player.first_name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </p>
    </div>
</div>
{% endverbatim %}
{% endblock %}
