{% extends "partials/event-base.html" %}

{% block content %}
{% verbatim %}
<div ng-show="false">
    {{ page.menuName = 'phases' }}
    {{ page.phaseMenuName = 'planning' }}
</div>
<div class="container-fluid">
    <div class="row">
        <p>
            <div class="alert alert-warning" role="alert" ng-show="event.state == 'draft'">
                <p>The event has already started but you can still add players in this phase.</p>
            </div>
            <div class="alert alert-danger" role="alert" ng-show="event.state != 'planning' && event.state != 'draft'">
                <p>You can no longer add players in this phase of the event!</p>
            </div>
        </p>
    </div>
    <div class="row">
        <p>
            <div class="col-sm-4 col-xs-8">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search player" ng-model="searchPlayer">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
            <div class="col-sm-2 col-xs-4">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                <button type="button" class="btn btn-success" ng-show="event.state == 'planning'" ng-click="startEventConfirm()">Start event</button>
            </div>
        </p>
    </div>
    <div class="row">
        <p>
            <div class="col-sm-12">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th style="width: 30px;">#</th>
                            <th>Name</th>
                            <th>DCI number</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="participant in event.participant_set__v | filter : searchPlayer" class="success">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ participant.player__v.first_name + ' ' + participant.player__v.last_name }} <a href="#" class="small success" ng-click="pay_with_credits(participant)" ng-show="participant.player__v.credits >= 8 && !participant.pay_with_credits">Pay with credits (C {{ participant.player__v.credits }})</a><span ng-show="participant.pay_with_credits" class="small text-success">Payed with credits</span></td>
                        <td>{{ participant.player__v.dcinumber }}</td>
                    </tr>
                    <tr ng-repeat="player in availablePlayers | filter : filterAdded | filter : searchPlayer" ng-click="addPlayer(player)">
                        <td></td>
                        <td>{{ player.first_name + ' ' + player.last_name }}</td>
                        <td>{{ player.dcinumber }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </p>
    </div>
</div>
{% endverbatim %}
{% endblock %}
