{% extends "partials/event-base.html" %}

{% block content %}
{% verbatim %}
<div ng-show="false">
    {{ page.menuName = 'phases' }}
    {{ page.phaseMenuName = 'round' + round.roundNr }}
</div>
<div class="container-fluid">
    <div class="row">
        <p>
            <div class="col-md-12">
                <h2>Round {{ round.roundNr }}</h2>
            </div>
            <div class="col-md-12">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="createMatchesRandom()">Create matches</button>
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="createMatchesRandom()">Random</a></li>
                        <li><a ng-href="{% endverbatim %}{% url 'werwer-root' %}{% verbatim %}event/{{ event.id }}/round/{{ round.roundNr }}/manual-matches/">Manual</a></li>
                    </ul>
                    <button class="btn btn-success" ng-click="endEvent()" ng-show="done && lastRound">End event</button>
                    <button class="btn btn-success" ng-click="nextRound()" ng-show="done && !lastRound">Next round</button>
                </div>
            </div>
            <div class="col-md-3" ng-show="selectedMatch != undefined">
                <h3>Result entry</h3>
                <p ng-show="selectedMatch != undefined && getSelectedMatch().submitting">Submitting. Please wait...</p>
                <div ng-show="selectedMatch != undefined && !getSelectedMatch().submitting" class="btn-group-vertical center-block">
                    <div class="btn btn-default btn-block" ng-click="updateScore(selectedMatch, 2, 0)"><span class="pull-left text-muted">{{ round.match_set__v[selectedMatch].participant1__v.player__v.first_name }}</span><span class="pull-right text-muted">{{ round.match_set__v[selectedMatch].participant2__v.player__v.first_name }}</span> 2 - 0</div>
                    <div class="btn btn-default btn-block" ng-click="updateScore(selectedMatch, 2, 1)"><span class="pull-left text-muted">{{ round.match_set__v[selectedMatch].participant1__v.player__v.first_name }}</span><span class="pull-right text-muted">{{ round.match_set__v[selectedMatch].participant2__v.player__v.first_name }}</span> 2 - 1</div>
                    <div class="btn btn-default btn-block" ng-click="updateScore(selectedMatch, 1, 1)"><span class="pull-left text-muted">{{ round.match_set__v[selectedMatch].participant1__v.player__v.first_name }}</span><span class="pull-right text-muted">{{ round.match_set__v[selectedMatch].participant2__v.player__v.first_name }}</span> 1 - 1</div>
                    <div class="btn btn-default btn-block" ng-click="updateScore(selectedMatch, 1, 2)"><span class="pull-left text-muted">{{ round.match_set__v[selectedMatch].participant1__v.player__v.first_name }}</span><span class="pull-right text-muted">{{ round.match_set__v[selectedMatch].participant2__v.player__v.first_name }}</span> 1 - 2</div>
                    <div class="btn btn-default btn-block" ng-click="updateScore(selectedMatch, 0, 2)"><span class="pull-left text-muted">{{ round.match_set__v[selectedMatch].participant1__v.player__v.first_name }}</span><span class="pull-right text-muted">{{ round.match_set__v[selectedMatch].participant2__v.player__v.first_name }}</span> 0 - 2</div>
                </div>
                <p>These are the results</p>
            </div>
            <div class="col-md-9">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th style="width: 30px">#</th>
                            <th>Player 1</th>
                            <th>Player 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="match in round.match_set__v" ng-show="!match.done" ng-click="$parent.selectedMatch = $index" ng-class="{success: $parent.selectedMatch == $index}">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ match.participant1__v.player__v.first_name }}</td>
                            <td>{{ match.participant2__v.player__v.first_name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </p>
    </div>
</div>
{% endverbatim %}
{% endblock %}
