{% verbatim %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="playerSearch = ''">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                <input type="text" class="form-control" placeholder="Search" ng-model="playerSearch" />
            </div>
        </div>
        <div class="col-md-1 pull-right">
            <a role="button" class="btn btn-primary" title="Add player" ng-href="{% endverbatim %}{% url 'add-player' %}{% verbatim %}">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Player name</th>
                        <th>DCI number</th>
                        <th>Credits</th>
                        <th>Judge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in players | filter:playerSearch" ng-click="editPlayer(player)">
                        <td>{{ player.first_name + " " + player.last_name }}</td>
                        <td>{{ player.dcinumber }}</td>
                        <td>{{ player.credits }}</td>
                        <td><span class="glyphicon glyphicon-ok-circle" ng-show="player.is_judge"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endverbatim %}
